<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pearson.lagp.demolition"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.pearson.lagp.demolition.Demolition"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pearson.lagp.demolition.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.pearson.lagp.demolition.Level1Activity"
            android:label="@string/title_activity_level1" >
        </activity>
        <activity
            android:name="com.pearson.lagp.demolition.OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.pearson.lagp.demolition.StartActivity"
            android:label="@string/title_activity_start" >
        </activity>
        <activity
            android:name="com.pearson.lagp.demolition.WAVActivity"
            android:label="@string/title_activity_wav" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="4" />

</manifest>